<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>TASKS</title>
  </head>
  <body>
    <div class="container" id="app">
      <div class="row">
        <div class="col-sm">
          <div class="card" style="width: 21rem;">
            <div class="card-header">
              To Do Count: {{ todoTasks.length }}
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item" v-for='to_do in todoTasks' :value="to_do">{{ to_do.name }}
              <mark v-if="to_do.is_important==1">Important</mark>
              <div class="text-right">
                <select v-model="selected" v-on:change="todoMove(to_do)" style="width: 85px;">
                  <option disabled selected value="">Move</option>
                  <option value="doing">Move to Doing</option>
                  <option value="done">Move to Done</option>
                </select>   
               </div>  
              </li>
            </ul>
        </div>
       </div>
       <div class="col-sm">
          <div class="card" style="width: 21rem;">
            <div class="card-header">
              Doing Count: {{ doingTasks.length }}
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item" v-for='doing in doingTasks' :value="doing">{{ doing.name }}
              <mark v-if="doing.is_important==1">Important</mark> 
              <div class="text-right">
                <select v-model="selected" v-on:change="doingMove(doing)" style="width: 85px;">
                  <option disabled selected value="">Move</option>
                  <option value="todo">Move to To Do</option>
                  <option value="done">Move to Done</option>
                </select>   
               </div> 
              </li>
            </ul>
        </div>
       </div>
       <div class="col-sm">
          <div class="card" style="width: 21rem;">
            <div class="card-header">
              Done Count: {{ doneTasks.length }}
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item" v-for='done in doneTasks' :value="done">{{ done.name }}
              <mark v-if="done.is_important==1">Important</mark>
              <div class="text-right">
                <select v-model="selected" v-on:change="doneMove(done)" style="width: 85px;">
                  <option disabled selected value="">Move</option>
                  <option value="todo">Move to To Do</option>
                  <option value="doing">Move to Doing</option>
                </select>   
               </div>     
              </li>
            </ul>
        </div>
       </div>
     </div>
    </div>
    

    <!-- VUEJS SCRIPT -->
    <script>
      new Vue({
        el: '#app',
        data: {
          selected: "",
          todoTasks: [
            { 'id': 1, 'name': 'Walk the dog', 'is_important': 1},
            { 'id': 2, 'name': 'Walk the cat', 'is_important': 0},
            { 'id': 3, 'name': 'Walk the turle', 'is_important': 0},
            { 'id': 4, 'name': 'Walk the lion', 'is_important': 0},
            { 'id': 5, 'name': 'Walk the panda', 'is_important': 1},
            { 'id': 6, 'name': 'Walk the walker', 'is_important': 1}
          ],
          doingTasks: [],
          doneTasks: []
        },
        methods: {
          todoMove(to_do) {
            if (this.selected=="doing") {
                this.doingTasks.push(to_do);
                var index = this.todoTasks.indexOf(to_do);
                this.todoTasks.splice(index, 1);
                return this.selected="";
            } else if (this.selected=="done") {
                this.doneTasks.push(to_do);
                var index = this.todoTasks.indexOf(to_do);
                this.todoTasks.splice(index, 1);
                return this.selected="";
            } else {
              alert("Cant Process");
            }
            },
          doingMove(doing) {
            if (this.selected=="todo") {
                this.todoTasks.push(doing);
                var index = this.doingTasks.indexOf(doing);
                this.doingTasks.splice(index, 1);
                return this.selected="";
            } else if (this.selected=="done") {
                this.doneTasks.push(doing);
                var index = this.doingTasks.indexOf(doing);
                this.doingTasks.splice(index, 1);
                return this.selected="";
            } else {
              alert("Cant Process");
            }
          },
          doneMove(done) {
            if (this.selected=="todo") {
                this.todoTasks.push(done);
                var index = this.doneTasks.indexOf(done);
                this.doneTasks.splice(index, 1);
                return this.selected="";
            } else if (this.selected=="doing") {
                this.doingTasks.push(done);
                var index = this.doneTasks.indexOf(done);
                this.doneTasks.splice(index, 1);
                return this.selected="";
            } else {
              alert("Cant Process");
            }
          }    
        }
      })
      
    </script>
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>